<!DOCTYPE html>
<html>
<head>
    <title>MIKE BOT - Dashboard</title>
</head>
<body>
    <h1>Mike Bot - Dash board</h1>
    <a href="/music"><button>Music</button></a>
    <a href="/score"><button>Score</button></a>

    <h1>Informations</h1>
    <p>Chance d'etre ratio par Mike Bot</p>
    <p1>- Ratio rare : 1/200 <br>
    - Ratio super rare [SR] : 1/1500 <br>
    - Ratio LEGENDARY RARE [LR]: 1/10000 <p1/>

    <h1>Listes des commandes</h1>
    <h3>Musique</h3>
    <p3>*play [url youtube] (joue la musique)<br>
    *next (passe la musique joué en ce moment)<br>
    *queue (voir la listes des musiques)<br>
    *remove (suprimme une musique en focntion de son index)<br>
    *clear (efface la listes des musiques<p3/>

    <h3>Profil</h3>
    <p4>*profile [@membre discord]</p4>

    <h3>Autres</h3>
    <p5>*astro [signe astrologique]<br>
    *meteo [ville, FR]<br>
    *mike [parle avec mike]<p5/>
</body>
</html>
