<!DOCTYPE html>
<html>
<head>
    <title>MIKE BOT - Dashboard</title>
</head>
<body>
    <h1>Dash board</h1>
    <a href="/music"><button>Music</button></a>
    <a href="/score"><button>Score</button></a>
    <h1>Informations</h1>
    <p>Chance d'etre ratio par Mike Bot</p>
    <p1>- Ratio rare : 1/200 <br>
    - Ratio super rare [SR] : 1/1500 <br>
    - Ratio LEGENDARY RARE [LR]: 1/10000 <p1/>

    <h2>Commandes</h2>
    <p3>*blague<br>
    *astro [signe astrologique]<br>
    *profile [@membre discord]<p3/>

</body>
</html>
