<!DOCTYPE html>
<html>
<head>
    <title>MIKE BOT - Music</title>
</head>
<body>
    <h1>Music</h1>
    <p>Sûrement de la city pop japonaise actuellement.</p>
    <form action="/submit_url_music" method="post">
        <input type="text" name="user_input" placeholder="Entrez url youtube ici">
        <input type="submit" value="Envoyer la musique">
    </form>
    <h2>Musique NOW : {{current_music}}.</h2>
    <h3>playlist MDR : {{current_playlist}}.</h3>
    <a href="/">Retour à la page principale</a>
</body>
</html>
